.profile-picture {
    width: 400px;
    padding: 50px;
    margin: auto;
    display: inline-block;
}

#other-info {
    float: left;
    vertical-align: bottom;
}

#about-list-header, #about-list-info {
	list-style-type: none;
	display: block;
    margin: 50px;
    padding: 0;
}

li {
	padding: 0 0 10px 0;
}

#about-header {
	font-weight: bold;
	font-size: 2em;
}

#about-info {
	font-size: 2em;
}

.background {
    padding: 0;
    margin-bottom: 0;
}

#about-me {
    padding-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    /* text-align: center; */
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
}

#resume-line {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
	padding-left: 1em;
    font-size: 20pt;
    text-align: center;
}


.skills {
    padding-top: 5%;
    display: inline-block;
}

.title {
    text-align: center;
    background-color: lightgray;
    margin: 0 0 50px 0;
    padding: 20px;
    font-weight: bold;
}

.title-later {
    margin-top: 50px;
}

#my-skills {
    display: flex;
    justify-content: flex-start;
    flex-flow: row;
    flex-wrap: wrap;
}

.header {
	padding-top: 1em;
	font-weight: bold;
	font-size: 25pt;
}

#skill {
	font-weight: normal;
	font-size: 20pt;
	padding: 0.2em;
}

#my-activities {
    display: flex;
    justify-content: flex-start;
    flex-flow: row;
    flex-wrap: wrap;
    font-size: 20pt;
}

/* #activity {
    float: left;
    list-style: none;
    clear: left;
} */