.work {
    text-align: center;
    background-color: lightgray;
    margin: 0 0 50px 0;
    padding: 20px;
}

.school {
    text-align: center;
    background-color: lightgray;
    margin: 50px 0 50px 0;
    padding: 20px;
}

.exp {
    padding-left: 20px;
}

.exp-title {
    color: #6D6D6D;
    display: inline;
    text-overflow: auto;    
}

.exp-late {
    padding-top: 30px;
}

.job-info {
    font-weight: bold;
    font-size: 18pt;
    margin: 0;
}

.exp-details {
    padding-top: 20px;
}

.job-desc {
    padding-top: 10px;
    font-size: 18pt;
    word-wrap: break-word;
}

.dropdown {
    padding-left: 20px;
}

p {
    display: inline-block;
}

.project-link {
    text-decoration: none;
    color: #6D6D6D;
}